# Dist::Zilla build artifacts (`dzil build`, `dzil release`)
Geo-Coder-OpenCage-*.tar.gz
/Geo-Coder-OpenCage-*/

.DS_Store
._.DS_Store
.*.swp
*.tdy
*#
*~
.#*

# ignore directories starting with . but keep .github
.*/
!.github/
